:root {
    --primary-color: #FFFFFF;
    --navy-blue-color: #2E2F42;
    --accent-color: #404bbf;
    --primary-gap: 24px;
}

body {
    font-family: 'Roboto', sans-serif;

    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin-left: 156px;
    margin-right: 156px;
}

/* header */

.header-container {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #E7E9FC
}

/* logo */

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;

    color: #4D5AE5;

}

.logo-span {
    color: var(--navy-blue-color);
}

/* navigation */
.header-nav {
    display: flex;
    column-gap: 76px;
    align-items: baseline;
}

.header-nav-list {
    display: flex;
    column-gap: 40px;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: 1.5;

    color: var(--navy-blue-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

/* address */

.address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    column-gap: 40px;
}

.address-link {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;

    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

/* hero */

.hero {
    background-color: var(--navy-blue-color)
}

.hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    margin-bottom: 48px;

    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
    line-height: 1.07;

    color: var(--primary-color);
}

.hero-btn {
    display: block;

    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;

    border: 0;
    border-radius: 4px;

    background-color: #4D5AE5;
    color: var(--primary-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-color);
}

/* benefits */

.benefits-title {
    text-align: center;
    text-transform: capitalize;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;

    color: var(--navy-blue-color);
}

.benefits-subtitle {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;

    color: #2E2F42;
}

.benefits-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

/* team */

.team {
    background-color: #F4F4FD;
}

.team-item {
    background-color: var(--primary-color);
}

.team-title {
    text-align: center;
    text-transform: capitalize;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;

    color: var(--navy-blue-color);
}

.team-subtitle {
    text-align: center;
    text-transform: capitalize;

    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;

    color: var(--navy-blue-color);
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

/* portfolio */

.portfolio-title {
    text-align: center;
    text-transform: capitalize;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;

    color: var(--navy-blue-color);
}

.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;

    color: var(--navy-blue-color);
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

/* footer */

.footer {
    background-color: var(--navy-blue-color);
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;

    color: #F4F4FD;
}

.footer-logo-span {
    color: #f4f4fd;
}